html,
body {
  height: 100vh;
  margin: 0;
}

button {
  background-color: peachpuff;
  height: 47px;
  flex: 0 0 auto;
  margin: 10px;
  border-radius: 10px;
  font-size: 30px;
  padding-bottom: 10px;
}

/**/
/* body { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/* } */

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.row {
  display: flex;
  flex: 1;
  /* background-color: hotpink; */
  /* padding: 8px; */
}

.row-child {
  flex: 1;
  border: 0.5px solid black;
  /* background-color: tomato; */
}

/* `57750720`*/
